html, body, .conteudo {
    box-sizing: border-box;
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
    background: whitesmoke;
    font-family: "Roboto", sans-serif;
}

.conteudo{
    background: azure;
    border-radius: 12px;
    border-color: blue;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box {
    width: 545px;
    height: 500px;
    background: white;
    border: 1px solid darkcyan;
    display: grid;
    justify-content: center;
}
.header {
    text-align: center;
    border-bottom: 3px solid cadetblue;
    height: 100px;
    margin-bottom: 10px;
    background: cornflowerblue;
}

h1 {
    color: white;
    font-size: 60px;
    margin-top: 0px;
    padding: 10px;
}
.menu {
    height: 250px;
    display: grid;
    flex-direction: column;
    justify-items: left;

}
label {
    margin-left: 10px;
    font-size: 20px;
    color: darkcyan;
    font-weight: 600;
    display: grid;
    
}

input {
    width: 500px;
    height: 25px;
    margin: 10px;
    padding: 10px;

}

.align {
    display: flex;
    justify-content: left;
    width: 522px;
    height: 15px;
    margin: 0px;
    
    
}

.checkbox {
    width: 25px;
    height: 15px;
    margin: 0px;
}

.adjust {
    font-size: 15px;
    margin-left: 0px;
}

.colorButtonLogin {
    background: darkturquoise;
    margin: 10px;
    margin-bottom: 0px;
    width: 522px;
    height: 40px;
    border: none;
    text-align: center;
    color: white;
    font-size: 22px;
    padding: 0px;
}
.colorButtonLogin:hover {
    background-color: white;
    color: blue;
    border: 1px solid blue;
}
.footer {
    height: 135px;
    background: rgb(198, 223, 238);
}

.footerSettings {
    display: flex;
    justify-content: right;
    padding: 40px;
}

.footerSettings a {
    color: grey;
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
}

.footerSettings a:hover {
    color: darkcyan;
}

.footerSettings button {
    background: white;
    height: 40px;
    font-size: 15px;
    color: mediumblue;
    font-weight: 800;
    border-radius: 5px;
    border: 1px solid grey;
    
}
.footerSettings button:hover {
    background: green;
    color: white;
}