input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

form {
    margin: 0 auto;
}

.form-data {
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}