#nav-bar {
    margin: 0;
    background-image: url('../../img/background.jpg')
}

form {
    display: flex;
    width: 100%;
    margin: 100px;
}

form input, form button {
    margin-right: 10px;
}

.auth-bar {
    display: flex;
    flex-direction: row;
    margin-left: 450px;
}



.img-nav {
    width: 250px;
    height: 40px;
}

.img-custom {
    width: 250px;
    height: 50px;
    
}

@media(max-width: 1000px) {
    form, .auth-bar {
       width: 100%;
       margin: 0;
       display: flex;
       flex-direction: column;
    }
}

