*{
  font-family: 'Roboto', 'sans-serif';
}

#root{
  width: 100%;
}

.logo-war{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 85px;
}

.top-screen{
  width: 100%;
  height: 80px;
  background-color: forestgreen;
}

.box-top ul{
  display: flex;
  flex-direction: row;
}

.box-top li{
  display: flex;
  align-items: center;
  list-style: none;
  padding: 10px;
}

.box-top li a{
  padding: 5px;
  color: cadetblue;;
  text-decoration: none;
  font-size: 20px;
}

.box-top li a:hover{
  color: #ccc;
}

.box-top button{
  background-color: #0f0;
  text-decoration: none;
  border-radius: 10px;
  color: beige;
  text-align: center;
  font-size: 25px;
  font-weight: 900;
  border-color: #0f0;
}

.box-top li button:hover{
  background-color: #f00;
  border-color: #f00;
  color: white;
}

.menu-box{
  display: flex;
  align-items: center;
  padding: 10px;
  height: 60px;
}

.menu-lateral{
  display: none;
  flex-direction: column;
  list-style: none;
  background-color: forestgreen;
  width: 180px;
  position: absolute;
  margin-left: 304px;
  margin-top: -22px;
  height: 330px;
}

.menu-lateral li{
  padding: 10px;
  justify-content: baseline;
}

.menu-lateral button{
  background-color: #0f0;
  text-decoration: none;
  border-radius: 10px;
  color: beige;
  text-align: center;
  font-size: 25px;
  font-weight: 900;
  border-color: #0f0;
}

.menu-lateral li button:hover{
  background-color: #f00;
  border-color: #f00;
  color: white;
}
.menu-right{
  position: absolute;
  display: flex;;
  margin-left: 1200px;
  padding: 5px;
}

.menu-right li button{
  background-color: #f00;
  border-color: #f00;
}

.menu-right li button:hover{
  background-color: #000;
  border-color: #000;
  color: yellow;
}

.right-lateral{
  position: absolute;
  display: none;
  flex-direction: column;
  margin-left: 304px;
  margin-top: 200px;
}

.right-lateral li{
  list-style: none;
  padding: 10px;
}

.right-lateral li button{
  text-decoration: none;
  border-radius: 10px;
  color: beige;
  text-align: center;
  font-size: 25px;
  font-weight: 900;
  background-color: #f00;
  border-color: #f00;
}

.right-lateral li button:hover{
  background-color: #000;
  border-color: #000;
  color: yellow;
}

.menu-toggle {
  display: none;
  position: absolute;
  align-items: center;
  right: 30px;
  top: 30px;
  background: slategrey;
  border: solid slategrey 5px;
  border-radius: 5px;
  width: 50px;
  height: 40px;
}

aside{
  width: 300px;
  height: 400px;
}

.lateral-bar{
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: #f00;
}

.lateral-bar ul{
  padding: 0px;
  margin: 0px;
}

.bar-aside {
  width: 300px;
  height: 100px;
}

.bar-aside li{
  display: flex;
  flex-direction: column;
  list-style: none;
}

.bar-aside li button{
  width: 300px;
  height: 100px;
  text-decoration: none;
  background-color: chartreuse;
  color: beige;
  font-size: 25px;
  font-weight: 900;
}

.bar-aside li button:active{
  background-color: seagreen;
  box-shadow: #000;
}

.publicity{
  float: right;
  width: 300px;
  height: 890px;
  margin-top: -400px;
  background-color: blue;
}

.publicity h2{
  color: white;
  text-align: center;
  font-size: 42px;
}

.item-publicity{
  display: flex;
  flex-direction: column;
  height: 250px;
  border: solid #000;
}

.item-publicity img{
  width: 300px;
  height: 254.8px;
}

section{
  width: 910px;
  height: 890px;
  margin-top: -400px;
  margin-left: 300px;
}

.area-form{
  width: 800px;
  height: 800px;
  margin: 50px;
}

.area-form h1{
  text-align: center;
  font-size: 30px;
  color: seagreen;
}

.fill-datas{
  height: 700px;
  margin: 10px;
  
}

.content-form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.content-form button{
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: 900;
  background-color: blue;
  color: white;
  border-radius: 15px;
}

.content-form button:hover{
  background-color: white;
  color: blue;
}

textarea{
  resize: both;
  width: 400px;
  height: 200px;
}

label{
  padding: 5px;
}

.title-form{
  text-align: center;
  color: blue;
}

footer{
  width: 100%;
  height: 2.5rem;
  position: absolute;
  background-color: forestgreen;
  margin-top: 50px;
}

footer p{
  text-align: center;
  color: wheat;
  font-weight: 800;
  margin: 10px;
}

@media (max-width: 500px) and (min-width: 300px){
  .menu-box {display: none;}
  .menu-right {display: none;}
  .logo-war {display: flex;}
  aside {display: none;}
  section, .area-form { margin-left: 0px; width: 310px; height: 890px; margin-top: 0px;}
  .content-form {
    display: flex;
    flex-direction: column;
    border: solid #000;
    border-color: azure;
  }
  textarea {width: 270px;}
  .content-form button{
    margin: 0px 60px
  }
  footer {
    position: absolute;
    width: 490px;
    margin-top: 980px;

  }
}

@media (max-width: 500px) {
  .menu-toggle {display: block;}
  .menu-lateral {display: block;}
  .right-lateral {display: block;}
}

@media (max-width: 1450px) {
  .publicity {display: none;}
}

